.caption {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  z-index: 75;
}

div.border {
  position: fixed;
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  top: 40%;
}
